In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = sns.load_dataset('tips')

In [3]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
columns = 'total_bill'

In [11]:
Q1 = data[columns].quantile(0.25)
Q3 = data[columns].quantile(0.75)
IQR = Q3-Q1
print(f"Q1: {Q1} \nQ3: {Q3} \nIQR: {IQR}")

Q1: 13.3475
Q3: 24.127499999999998
IQR: 10.779999999999998

In [13]:
LB = Q1 - 1.5*IQR
UB = Q3 + 1.5*IQR
print(f"LB: {LB}\nUB: {UB}")

LB: -2.8224999999999945
UB: 40.29749999999999

In [16]:
filtered_data = data[(data[columns]>=LB) & (data[columns]<=UB)]

In [18]:
# Data after removing outliers
print(filtered_data.describe())

       total_bill         tip        size
count  235.000000  235.000000  235.000000
mean    18.798681    2.901489    2.523404
std      7.438468    1.225651    0.911984
min      3.070000    1.000000    1.000000
25%     13.215000    2.000000    2.000000
50%     17.460000    2.750000    2.000000
75%     23.135000    3.500000    3.000000
max     40.170000    7.580000    6.000000

In [19]:
# Show number of removed outliers
num_removed = data.shape[0] - filtered_data.shape[0]
print(f"Number of outliers removed: {num_removed}")

Number of outliers removed: 9